In [ ]:
import pandas as pd
from py2neo import Graph, Node, Relationship

In [ ]:
df = pd.read_csv('data_test.csv', delimiter=';')

In [ ]:
graph = Graph("bolt://localhost:7687", auth=("neo4j", "0123456789"))

In [34]:
# Внесение данных в БД
for _, row in df.iterrows():
    # Создание узлов
    person_node_1 = Node("Person", name=row['ФИО участника события 1'])
    person_node_2 = Node("Person", name=row['ФИО участника события 2'])

    # Создание связей
    event_node = Node("Event", id=row['id события'])
    participant_1 = Relationship(event_node, "participant", person_node_1)
    participant_2 = Relationship(event_node, "participant", person_node_2)

    # Внесение узлов и связей в БД
    graph.create(person_node_1)
    graph.create(person_node_2)
    graph.create(event_node)
    graph.create(participant_1)
    graph.create(participant_2)

In [35]:
df.head()

   id события         ФИО участника события 1          ФИО участника события 2
0         189  Галчевская Карина Владимировна  Белоновская Анастасия Семеновна
1         206         Офицеров Олег Романович        Сапожник Борис Валерьевич
2         445     Жандарова Лариса Германовна       Чемодуров Дамир Русланович
3         503          Масимова Яна Дамировна   Мингажетдинов Рамиль Семенович
4         571       Мухтарова Алена Яковлевна      Щербатенко Ольга Робертовна